/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-text-weight);
  background-image:
    var(--horizontal-gradient), var(--vertical-gradient),
    var(--gradient-transition);
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.container {
  width: var(--block-size);
  margin: 0 auto;
}

.main {
  display: grid;
  gap: 53px;
  margin-bottom: 52px;
}

.button {
  position: relative;
  color: var(--text-color);
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0 0 0 / 0);
  transition: box-shadow 0.3s ease;
}

/* ШАПКА */

.header {
  display: grid;
  gap: 18px;
  padding: clamp(122px, 14vw, 130px) clamp(16px, 4vw, 122px);
  margin-bottom: 100px;
  background-color: #fff;
  text-align: center;
  border: 2px solid #000;
}

.header__title-main {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-weight: 400;
}

.header__title-secondary {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-weight: 400;
}

/* КАРТОЧКИ */

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  padding: 4px 10px;
  grid-column: 1 / 4;
  font-variation-settings: "wght" var(--main-title-weight);
  font-size: var(--main-font-size);
}

.card__image-container {
  position: relative;
  grid-column: 1 / 4;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .card__image-label {
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  z-index: 1;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 0 #ffffff;
}

.card__description {
  display: grid;
  gap: 25px;
  padding: 11px 25px 25px;
  grid-column: 1 / 4;
  font-size: var(--main-font-size);
}

.card__description-text {
  grid-column: 1 / 4;
}

.card__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 3;
  align-items: center;
  gap: 8px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  justify-self: end;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
  font-family: var(--accent-font);
}

/* ПОДВАЛ */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 2;
  gap: 8px;
  min-width: 339px;
  padding: 17px 20px;
}

.footer__icon {
  color: #000;
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
}

/* ДИАЛОГОВОЕ ОКНО */

.dialog {
  max-width: 353px;
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.dialog__information {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex-shrink: 0;
}

.dialog__text {
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__button {
  padding: 12px 0;
  text-transform: uppercase;
}

/* ФИЛЬТРЫ */

.card__filter-grayscale {
  filter: grayscale(0.7) contrast(0.8);
}

.card__filter-saturate {
  filter: saturate(3);
}

.card__filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.card__filter-invert {
  filter: invert(1) contrast(0.5);
}

.card__filter-sepia {
  filter: sepia(0.9);
}

.card__filter-blur {
  filter: blur(15px);
}

.card__filter-combine {
  filter: blur(3px) hue-rotate(95deg) contrast(0.5);
}

/* АНИМАЦИИ */

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button span {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.footer__icon {
  color: currentColor;
  mix-blend-mode: difference;
}

/* АНИМАЦИЯ СЕРДЦА */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill linear 0.1s;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill linear 0.3s 0;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill linear 0.3s 0.06s;
}

.heart {
  transform-origin: center;
}

.like-icon {
  transform-origin: top;
}

.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s 1;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

/* АДАПТИВ */

@media (width <= 375px) {
  .main {
    gap: 52px;
    margin-bottom: 49px;
  }

  .card__description {
    padding-top: 16px;
  }

  .footer__button {
    min-width: 306px;
    flex-direction: column;
    align-items: center;
    padding-right: 18px;
    padding-left: 18px;
  }

  .footer__icon {
    width: 28px;
    height: 28px;
  }
}
