/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-text-weight: 410;
  --main-title-weight: 715;
  --main-font-size: 18px;
  --button-font-size: 14px;
  --text-color: #fff;
  --heart-contour: #000;
  --animation-fill-color: #ff0000;
  --horizontal-gradient: repeating-linear-gradient(
    90deg,
    #d3d3d3 0 2px,
    rgb(0 0 0 / 0) 2px 4px
  );
  --vertical-gradient: repeating-linear-gradient(
    180deg,
    #d3d3d3 0 2px,
    rgb(0 0 0 / 0) 2px 4px
  );
  --gradient-transition: linear-gradient(
    180deg ,
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
  --block-size: clamp(375px, 70vw, 700px);
}
